@charset "UTF-8";
/*mui修改样式*/
.mint-header{
    font-size: 1.28rem;
    height: 3.92rem;
    line-height: 3.92rem;
    text-align: center;
    background:#fff;
    color:#000000;
    border-bottom: 1px solid #d9d9d9;

}
.mint-popup-top{
   top:8rem;width: 100%;
}
.v-modal{
   top:0rem; 
}

.mint-field-core{
    resize:none;
}

.mint-msgbox{
  border-radius:10px;
}
.mint-msgbox-confirm{
  color:#f69244;
}
.loadBox div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 3px solid #f49751;
    color: #f2964b;
    margin-bottom: -3px;
}
